/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*  fonts */
@font-face {
font-family: PtSansWebBold;
src: url(font/pt_sans-web-bold.ttf);
}
@font-face {
font-family: PtSansWebBoldItalic;
src: url(font/pt_sans-web-bolditalic.ttf);
}
@font-face {
font-family: PtSansWebItalic;
src: url(font/pt_sans-web-italic.ttf);
}
@font-face {
font-family: PtSansWebRegular;
src: url(font/pt_sans-web-regular.ttf);
}
body {
		font-family: PtSansWebRegular;
}
h1 {
		font-family: PtSansWebBold;
		font-size: 11px;
		text-transform: uppercase;
	  letter-spacing: 2px;
}
h2 {
		font-family: PtSansWebBold;
		letter-spacing: 2.5px;
		text-transform: uppercase;
		text-align: center;
		line-height: 2.5em;
}
p {
		font-family: PtSansWebRegular;
		font-size: 12px;
		color: #838199;
		text-align: center;
	  line-height: 1.8em;
}
.last span {
	font-family: PtSansWebBold;
	display: inline;
	font-size: 12px;
	text-align: center;
	line-height: 2.8em;
	letter-spacing: 1.5px;
}
.last .twitter-time{
	font-family: PtSansWebRegular;
	font-size: 12px;
	text-align: center;
	letter-spacing: 1.5px;
	color: #b2b1bd;
	padding-left: 6px;
}

.last p
{
		font-family: PtSansWebItalic;
		font-size: 14px;
		color: #838199;
		text-align: center;
	  line-height: 1.8em;
		padding: 0 55px;
}

/*  fonts */
.wrapper {
	    padding: 0 200px;
			width: 1600px;
			margin: 0 auto;
}
/* intro section */
}
.hero img {
  width: 100%;
}
.topbar {
	position: absolute;
  padding: 0 520px;
  margin-top: 23px;
}
.topbar ul {
	width: 547px;
	margin: 0 auto;
}
.topbar li {
  display: inline-block;
	padding: 0 20px;
	float: left;
	position: relative;
	top: 52px;
	transform: translateY(-50%);
}
.topbar li a {
	text-decoration: none;
	color: #4D4B56;
}
.topbar li a img {
	width: 60px;
}
img {
		vertical-align: bottom;
}
.topbar li a:hover{
	text-decoration: none;
	color: #ff000069;
}
.topbar p {
	padding: 0 20px;
	float: left;
	position: relative;
	top: 52px;
	transform: translateY(-50%);
	font-family: PtSansWebBold;
}
/* navigation section */
.main {
	background-color: #F7F7F7
}
.first {
  color: #4D4B56;
	padding: 80px 150px 80px 150px;
	max-width: 736px;
}
.first img {
	width: 40px;
}
/* twitter-last section */
.last {
  color: #4D4B56;
	padding: 80px 150px 50px 150px;
	max-width: 736px;
}
.last img {
	width: 25px;
  padding-bottom: 15px;
}
/* slider */
.dotfirst {
	width: 0.50rem;
	height: 0.50rem;
	background-color: #ADB2B6;
	border-radius: 50%;
	display: inline-block;
	}
.dot {
	width: 0.40rem;
	height: 0.40rem;
	border-radius: #ADB2B6;
	background-color: #FFF;
	border-radius: 50%;
	border: 1px solid #ADB2B6;
	display: inline-block;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50
		}
.slider {
	 color: #4D4B56;
	 padding: 0px 0px 30px 0px;
	 max-width: 736px;
}
